<div class="card bg-light mb-3" style="min-width: 18rem;">
  <div class="card-header border-0">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title"><%= resource.title %></h5>
        <h6 class="card-subtitle text-muted"><span class="badge badge-secondary"><%= resource.category %></span></h6>
      </div>
      <p>
        <%= link_to 'Show', resource_path(resource)  %> |
        <a href="<%= resource.link %>" target="_blank" class="card-link">View <i class="fas fa-external-link-alt"></i></a>
      </p>
    </div>
  </div>
</div>
