// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Trix
@import "./actiontext.scss";

article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;
}

article img {
  max-width: 100%;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "Roboto Slab";
  font-weight: 400;
}
